environment:
  CONDA_INSTALL_LOCN: C:\\Miniconda36-x64

platform:
  - x64

install:
  # Add path, activate `conda` and update conda.
  - cmd: call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
  - cmd: conda update --yes --quiet conda
  # Add our channels.
  - cmd: conda config --add channels defaults
  - cmd: conda config --add channels conda-forge
  - cmd: conda config --add channels isuruf/label/flang
  - cmd: conda install --yes --quiet clangdev openmp cmake


build_script:
  - mkdir build
  - cd build
  - set "PATH=%cd%\bin;%PATH%"
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
  - cmake -G "NMake Makefiles" -DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_Fortran_COMPILER=flang -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Release ..
  - cmake --build .
